@import 'bootstrap/dist/css/bootstrap.min.css';
body {
background: rgb(18, 169, 231);
background: linear-gradient(180deg, rgba(18, 169, 231, 1) 0%, rgba(255, 105, 82, 1) 44%, rgba(196, 9, 212, 1) 100%);
min-height: 100vh;
font-size: large;
}

